.vscode/
vultr/

# env files
.venv/
.env

# image files
*.jpg
*.png

# local env
local_settings.py

# DB
db.sqlite3

# model
*.xml
*.h5

# others
create_key.py
migrations/
*__pycache__/
.python-version
poetry.lock
pyproject.toml