{% extends 'afterglow/base.html' %}
{% load static %}

{% block title %}Afterglowキャラクター判別ページ{% endblock %}

{% block contents %}
    <body class="app-body">
    <div class="container">
        <h1 class="mt-3 mb-5 app-h1">Afterglowのキャラクターを判別しよう！</h1>
    <p class="app-p">画像ファイルを選択して＜判別開始！＞ ボタンをクリックしてください。</p>
        <p class="app-p">※画像がない場合は<a class="img-link" href="https://www.google.com/search?q=bang+dream+afterglow&sxsrf=ALeKk02J5FfrIC7ntaL0TAUyQxYoBDbvkg:1591677239280&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjPw8bj8_PpAhUM7WEKHQj-CP4Q_AUoAXoECBIQAw&biw=1328&bih=1061" style="color: #4c3f54; font-weight: bold" target="_blank">こちら</a>からお好みの画像を保存してください。</p>
     <form action="{% url 'afterglow:result' %}" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <div class="custom-file">
            {{ form.image }}
            <label class="custom-file-label" for="customFile">
                画像ファイルを選択(ここにドロップすることもできます)
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary app-btn">判別開始！</button>
     </form>
    </div>
    </body>
{% endblock %}
