{% extends 'afterglow/base.html' %}
{% load static %}
{% block title %}HOME | ZAWA{% endblock %}

{% block header %}
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0"></h1>
        <h2 class="masthead-subheading mb-0">AIアプリで遊んでみよう!</h2>
        <p class="app-desc">アニメBanG Dream!に登場するバンドであるAfterglowのメンバーをAIが判別してくれます。</p>
        <a href="{% url 'afterglow:afterglow_det' %}" class="btn-play btn btn-primary btn-xl rounded-pill mt-5 active">Let's　Play!</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
{% endblock %}

{% block contents %}
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'afterglow/img/001.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">App</h2>
            <p>アニメBanG Dream!に登場するバンドであるAfterglowのメンバーのキャラクターをAIが判別してくれます。OpenCVとTensorFlowを使用してデータセットや判別モデルの作成を一から行いました。</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'afterglow/img/002.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">About Me</h2>
            <p>現在、求職活動中です。大学時代は深層学習の画像認識・処理分野や統計学を学びました。</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}