{% extends 'afterglow/base.html' %}
{% load static %}
{% block title %}入力画像エラーページ{% endblock %}

{% block contents %}
    <body style="background-color: #6eb5c0" >
    <div class="container">
        <h1 class="mt-3 mb-5" style="font-size: 50px; padding-top: 100px; padding-left: 20px; border-bottom: solid 5px #fff; color: #fff">ファイルエラー</h1>
    <h4 class="mt-3 mb-5" style="color: #fff">画像ファイルを選択してください。</h4>
        <a href = "{% url 'afterglow:afterglow_det' %}" class="btn btn-primary" style="background-color: #6eb5c0; border-color: #fff; border-width: 4px">画像選択メニューに戻る</a>
    </div>
{% endblock %}
